.content {
  height: 540px;
  position: relative;
  z-index: -1;
  background: var(--gn-bg);

  @include mobile {
    height: 740px;
  }
  &__text {
    position: relative;
    z-index: 12;
    margin-top: 100px;
    gap: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet-small {
      padding: 20px;
    }
  }

  &__sample {
    color: var(--c-text-white);
    text-align: center;

    font-family: var(--ff);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__title {
    color: var(--c-text-white);
    text-align: center;

    font-family: var(--ff);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    @include tablet-small {
      font-size: 40px;
    }
  }

  &__desc {
    max-width: 775px;
    color: var(--c-text-white);
    text-align: center;
    font-family: var(--ff);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}

.container {
}
